img {
  max-width: 100%;
}

html {
  --primary: #000000;
  --secondary: #eb0000;
}

h1 {
  color: var(--secondary);
  text-align: center;
}
h2 {
  color: var(--secondary);
}
h3 {
  color: var(--secondary);
}
h4 {
  color: var(--secondary);
}

header ul {
  list-style: none;
  padding: 1%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main {
  font-family: "plus jakarta sans";
  list-style: none;
  margin: 2% 12%;
}

footer {
  margin: 2% 12%;
  margin-top: 10%;
}

@media (min-width: 800px) {
  .footerstor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 799px) {
  .footerlille {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 10%;
  }
}
