img {
  max-width: 100%;
}

html {
  --primary: #000000;
  --secondary: #eb0000;
}

h1 {
  color: var(--secondary);
  text-align: center;
}
h2 {
  color: var(--secondary);
}
h3 {
  color: var(--secondary);
}
h4 {
  color: var(--secondary);
}

main {
  font-family: "plus jakarta sans";
  list-style: none;
}

footer {
  margin-top: 10%;
}
body {
  margin: 2% 12%;
}

@media (min-width: 800px) {
  .footerstor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 799px) {
  .footerlille {
    display: grid;
    grid-template-columns: 1fr;
  }
}
