

.Kontaktformular {
    label,
    input,
    button {
      display: block;
    }
    display: grid;
    background-color: #eb0000;
    border-radius: 6px;
    color: white;
    font-family: plus jakarta sans;
    gap: 6px;
  }

.form_felt {
    display: grid;
    margin: 1rem;
    input,
    textarea {
      background-color: #e8e8e8;
      border-radius: 3px;
      border: none;
      padding: 10px;
      font-family: plus jakarta sans;
      font-size: 12px;
    }
    label {
      margin-bottom: 8px;
    }
  }

  .hero {
    width: 100%;
    height: 100%;
  }

  .kundeområder{
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
 }
 
 .imgkunde{
   justify-content: center;
   object-fit: contain;

 }

 .firepunkter{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr;
  align-items: center;  
 }

  .figurmand{
    justify-content: center;
    display: flex;
  }

  .navindex{
    display: flex;
    justify-content: center;
    margin: 5%;
  }

  .hvemervi {
  margin: auto;
  width: 300px;
  }

  @media (min-width: 700px) {
    .section1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 3em;
      padding-bottom: 3em;
      gap: 8%;
    }
    
    .firepunkter{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr  ;
     }

   .nederst{
    display: grid;
    grid-template-columns: 1fr 1fr;
   } 

   .kundehvem{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   .firepunkter{
    display: grid;
    grid-template-columns: repeat(4, 1fr 5fr);
    gap: 0.5em;
    align-items: center;  
}
.kundeområder{
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}
  }