.Kontaktformular {
  label,
  input,
  button {
    display: block;
  }
  background-color: #eb0000;
  border-radius: 6px;
  color: white;
  font-family: plus jakarta sans;
  gap: 10px;
}

.form_felt {
  margin: 1rem;
  input,
  textarea {
    background-color: #e8e8e8;
    border-radius: 3px;
    border: none;
    padding: 10px;
    font-family: plus jakarta sans;
    font-size: 12px;
    width: 80%;
  }
  label {
    margin-bottom: 8px;
  }
}

.form_tekst {
  margin: 1rem;
  input,
  textarea {
    background-color: #e8e8e8;
    border-radius: 3px;
    border: none;
    padding: 10px;
    font-family: plus jakarta sans;
    font-size: 12px;
    width: 80%;
  }
  label {
    margin-bottom: 8px;
  }
}

.send_knap {
  border: 2px solid white;
  background-color: #eb0000;
  font-family: plus jakarta sans;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  float: right;
  margin: 10px;
}

.kontakt_informationer {
  padding: 10px;
}

.img_container {
  gap: 20px;
  padding: 20px;
}

h2 {
  padding: 20px;
  text-align: center;
}

@media (min-width: 800px) {
  .Kontaktformular form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .kontakt_informationer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .img_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 799px) {
  .Kontaktformular {
    display: grid;
    grid-template-columns: 1fr;
  }
  .send_knap {
    display: grid;
    grid-template-columns: 1fr;
  }
  .kontakt_informationer {
    display: grid;
    justify-content: center;
  }
  .img_container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
