.personer {
  text-align: center;
}

img {
  max-width: 100%;
}

.grid_1-1 {
  gap: 30px;
}

@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 799px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.img-container {
  padding: 0 1em;
}

h2 {
  text-align: center;
}
.test {
  background-color: aqua;
}

.section2 .personer div {
  /* margin: 10px;  */
  /* Juster værdien efter behov */
}

.section2 .personer img {
  display: block;
  /* max-width: 100%; */

  width: 100%;
}
