.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: xx-large;
}
.billedetekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: gray; */
  background-color: hsl(0%, 50%, 70%);
}
/* .ikon {
  width: 90%;
  display: flex;
  justify-content: center;
} */
.slogan {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.ikon {
  display: block;
  margin: auto;
}

@media (min-width: 700px) {
  .section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3em;
    padding-bottom: 3em;
    gap: 8%;
  }
}
