.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: xx-large;
}
.billedetekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ikon {
  width: 60%;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.ikon {
  display: block;
  margin: auto;
}

@media (min-width: 700px) {
  .section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
